WebApplication1/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VNDToForeignCurrencies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="foreign" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vnd" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VNDToForeignCurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VNDToForeignCurrenciesResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForeignCurrenciesToVND">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="foreign" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForeignCurrenciesToVNDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ForeignCurrenciesToVNDResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VNDToForeignCurrenciesSoapIn">
    <wsdl:part name="parameters" element="tns:VNDToForeignCurrencies" />
  </wsdl:message>
  <wsdl:message name="VNDToForeignCurrenciesSoapOut">
    <wsdl:part name="parameters" element="tns:VNDToForeignCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="ForeignCurrenciesToVNDSoapIn">
    <wsdl:part name="parameters" element="tns:ForeignCurrenciesToVND" />
  </wsdl:message>
  <wsdl:message name="ForeignCurrenciesToVNDSoapOut">
    <wsdl:part name="parameters" element="tns:ForeignCurrenciesToVNDResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="VNDToForeignCurrencies">
      <wsdl:input message="tns:VNDToForeignCurrenciesSoapIn" />
      <wsdl:output message="tns:VNDToForeignCurrenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForeignCurrenciesToVND">
      <wsdl:input message="tns:ForeignCurrenciesToVNDSoapIn" />
      <wsdl:output message="tns:ForeignCurrenciesToVNDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VNDToForeignCurrencies">
      <soap:operation soapAction="http://tempuri.org/VNDToForeignCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForeignCurrenciesToVND">
      <soap:operation soapAction="http://tempuri.org/ForeignCurrenciesToVND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VNDToForeignCurrencies">
      <soap12:operation soapAction="http://tempuri.org/VNDToForeignCurrencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForeignCurrenciesToVND">
      <soap12:operation soapAction="http://tempuri.org/ForeignCurrenciesToVND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:59991/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:59991/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>